// BACKGROUNDS

$background-box: #f2f8fc;
$background-blue: #40c4ff;
$background-light-blue: #9ce0ff;
$background-crimson: #ef2853;
$background-yellow: #ffd740;
$background-gray: #222222;

$border-gray: #eee;

// TEXTS
$text-light-gray: #a9a9a9;
$text-dark-gray: #959595;
