@use './colors' as *;
@use './vars' as *;
@import 'bootstrap/scss/bootstrap';

$font-primary: 'Merriweather';

body {
	font-family: 'Open Sans Variable', sans-serif;
	background-image: url('../img/background-pattern.jpg');
}

.container {
	max-width: 1360px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 72px;
	font-weight: bolder;
	font-family: $font-primary;
	margin-bottom: 1rem;
}

h2 {
	text-transform: capitalize;
	font-family: $font-primary;
	font-size: 48px;
	margin-bottom: 2rem;
	font-weight: 900;
}

p {
	font-size: 1.2rem;
}

.blue-text {
	color: $background-blue;
}

section {
	padding-top: $section-padding;
}
